<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
    <div class="page-header">
        <h2>Proyecto</h2>
    </div>
    <form id="formProyecto" action="/designMatch/editar/" enctype="multipart/form-data" method="post">
        <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control input-md" required><br>
        <input id="descripcion" name="descripcion" type="text" placeholder="Descripción" class="form-control input-md"
               required><br>
        <input id="valor_estimado" name="valor_estimado" type="number" placeholder="Valor estimado"
               class="form-control input-md" required><br>
        <input type="submit" value="Guardar proyecto" class="btn btn-primary">
        <a href="/designMatch/verProyectos" class="btn btn-primary">Cancelar</a>

    </form>
</div>
<script>
    var proyecto = JSON.parse(localStorage.getItem("proyecto"));

    $("#nombre").val(proyecto.nombre);
    $("#descripcion").val(proyecto.descripcion);
    $("#valor_estimado").val(proyecto.valor);
    $("#_id").val(proyecto._id);

    $('form').submit(function (e) {
        var formData = new FormData($("#formProyecto")[0]);
        $.ajax({
            url: $(this).attr('action') + proyecto._id + "/",
            type: $(this).attr('method'),
            data: JSON.stringify({
                nombre: $('#nombre').val(),
                descripcion: $('#descripcion').val(),
                valor_estimado: $('#valor_estimado').val(),
                ident: $('#_id').val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                window.location = "/designMatch/verProyectos";
            },
        });
        e.preventDefault();
    });
</script>
</body>
</html>